sudo: false
language: node_js
cache:
  directories:
    - node_modules
notifications:
  email: false
node_js:
  - '4'
before_install:
  - npm i -g npm@^2.0.0
before_script:
  - npm prune
after_success:
  - npm run semantic-release
  - cat coverage/PhantomJS*/lcov.info | ./node_modules/coveralls/bin/coveralls.js
branches:
  except:
    - /^v\d+\.\d+\.\d+$/
